// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

header {
    & .logo {
        max-width: 120px;
    }
}

.custom-file-label {
    cursor:pointer;
    &:focus,&:hover {
        &::after {
            box-shadow: inset 0 0 10px #0000003d;
        }
    }
    &::after {
        content: "Betölt";
    }

}

#reader button,
#reader input{
    border-radius: 5px;
    background-color:#cecece;
    border:none;
    padding:5px;
}


