<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    RewriteRule ^(.*) /teszt/src/public
    RewriteRule ^(.*) /teszt/src/public

</IfModule>
